 body {
     background-color: gainsboro;
 }

 h1 {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     color: maroon;
     font-size: 40px;
     border: inset red;
     padding: 10px;
 }

 h3 {
     color: firebrick;
     font-size: 25px;
     font-style: oblique;
     font-weight: bold;
 }

 p {
     font-size: 17px;
     color: dimgrey;
 }

 a {
     color: Maroon;
 }

 .BW {
     display: flex;
     justify-content: center;
     border: outset red;
 }

 img {
     height: 200px;
     width: 350px;
     margin: 8px;
 }

 li {
     color: dimgrey;
     font-size: 17px;
 }

.button {
     background-color: maroon;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 30px;
 }

 a:hover {
     color: tomato;
 }